*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #373643;
}

h5{
    position: absolute;
    left: 100px;
    top: 100px;
}

body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    padding: 20px 180px;
}

#sendComplain{
    margin-bottom: 50px;
}

#title{
    margin-bottom: 50px;
}

#name,#message{
    width: 400px;
}